<form class="{{cssClass}}" autocomplete="off">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128"/>
    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    
    <div>
        <table>
            
        <tr>
            {{#each data.caracteristique as |carac caracnom|}}
            <th>{{carac.nomaffichage}}</th>
            {{/each}}
            
        </tr>
       
        <tr>
            {{#each data.caracteristique as |carac caracnom|}}
            <td><input name="data.caracteristique.{{caracnom}}.valeur" type="text" value="{{carac.valeur}}" placeholder="{{carac.valeur}}"/></td>
            {{/each}}
        </tr>
        
        <tr>
            {{#each data.caracteristique as |carac caracnom|}}
            <th><a class="jetdedes" title="Jet de dés"><i class="fas fa-dice-d20" data-dice="{{carac.valeur}}" data-nom="{{carac.nomaffichage}}"></i></a></th>
            {{/each}}
        </tr>
        </table>
    </div>
   
   
    <div>
        <table>
            <tr>  
        <th>
        <label>Niveau</label>
        <input name="data.niveau.valeur" type="text" value="{{data.niveau.valeur}}" placeholder="Niveau"/>
    </th>
    <th>
        <label>Experience</label>
        <input name="data.experience.valeur" type="text" value="{{data.experience.valeur}}" placeholder="Experience"/>
     </th>
     <th>       
        <label>Points de recrutement</label>
        <input name="data.pointrecrutement.valeur" type="text" value="{{data.pointrecrutement.valeur}}" placeholder="Points de recrutement"/>
        </th>
    </tr>
</table>
<table>
    <h2>Liste des compétences</h2>
    
    <th>
        {{#each data.competence as |compete competenom|}}
        <tr>
            <th></th>
            <td><label>{{compete.nomaffichage}}</label></td>
            <td><input name="data.competence.{{competenom}}.valeur" type="text" value="{{compete.valeur}}" placeholder="{{competenom}}"/></td>
            <td><a class="jetdedes" title="Modification de l'objet"><i class="fas fa-dice-d20" data-dice="{{compete.valeur}}" data-nom="{{compete.nomaffichage}}"></i></a></td>
        </tr>
        {{/each}}
    </th>
    
        
</table>
</div>

       
    <table>
        <h2>Liste d'équipement</h2>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Description</th>
            <th></th>
        </tr>
    {{#each herbesPotionsList as |item key|}}
    
    
    <tr class="item" data-item-id="{{item._id}}">
        <td><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="32" width="32"/></td>
        <td>{{item.name}}</td>
        <td>{{item.data.note}}</td>
        
        <td>
            <a class="item-edit" title="Modification de l'objet"><i class="fas fa-edit"></i></a>
            <a class="item-delete" title="Suppression de l'objet"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    
    {{/each}}
    </table>

    <table>
        <h2>Liste des capacitées et des sorts</h2>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Description</th>
            <th></th>
        </tr>
    {{#each actor.items as |item key|}}
    <tr class="item" data-item-id="{{item._id}}">
        <td><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="32" width="32"/></td>
        <td>{{item.name}}</td>
        <td>{{item.data.note}}</td>
        
        <td>
            <a class="item-edit" title="Modification de l'objet"><i class="fas fa-edit"></i></a>
            <a class="item-delete" title="Suppression de l'objet"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {{/each}}
    </table>

    <label>Note
        <!--<input name="data.note" type="text" value="{{data.note}}" placeholder="note"/>-->
    </label>
    <textarea name="data.note" type="text" rows="10" placeholder="note" >{{data.note}}</textarea>
    
</form>